<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mybatis.mappers.LprodMapper">
	<resultMap type="LprodVO" id="lprodMap" autoMapping="true">
		<id column="LPROD_GU" property="lprodGu"/>
		<collection property="prodList" ofType="ProdVO" autoMapping="true"/>
		<!--수동으로 매핑했을떄  일부 정보만 검색하고 싶을때  -->
		<collection property="buyerList" ofType="BuyerVO">
			<result column="BUYER_ID" property="buyerId"/>
			<result column="BUYER_NAME" property="buyerName"/>
		</collection>
	</resultMap>
	
	<select id="selectLprod" resultMap="lprodMap">
		SELECT LP.LPROD_GU, LPROD_NM
			, PROD_ID, PROD_NAME, PROD_COST
		FROM LPROD LP LEFT OUTER JOIN PROD P
			ON (LP.LPROD_GU = P.LPROD_GU)
		WHERE LP.LPROD_GU = #{lprodGu}
	</select>
	
	<select id="selectLprodList" resultMap="lprodMap">
		SELECT
		    L.LPROD_GU, LPROD_NM
		    , BUYER_ID, BUYER_NAME
		FROM LPROD L LEFT OUTER JOIN BUYER B
		    ON (L.LPROD_GU = B.LPROD_GU)
	</select>

</mapper>